In [1]:
import pandas as pd

In [2]:
nasdaq_df = pd.read_csv("../Data/Polished/NO_NULL_nasdaq_2010_mid_separate_year_month_day.csv")
nasdaq_df

,Date,Day,Month,Year,Low,Open,Volume,High,Close,Adjusted Close,Ticker Symbol
0,2010-01-15,15,1,2010,5.430000,5.640000,10985300.0,5.840000,5.500000,5.185079,AAL
1,2010-03-15,15,3,2010,7.720000,7.880000,4790900.0,7.930000,7.900000,7.447659,AAL
2,2010-04-15,15,4,2010,7.250000,7.470000,15963500.0,7.490000,7.410000,6.985714,AAL
3,2010-06-15,15,6,2010,9.830000,9.830000,15766900.0,10.510000,10.460000,9.861075,AAL
4,2010-07-15,15,7,2010,8.850000,9.270000,6418800.0,9.290000,9.110000,8.588376,AAL
...,...,...,...,...,...,...,...,...,...,...,...
147894,2021-10-15,15,10,2021,39.450001,40.770000,338800.0,42.110001,39.549999,39.549999,ZUMZ
147895,2021-11-15,15,11,2021,50.639999,51.730000,183700.0,52.040001,51.070000,51.070000,ZUMZ
147896,2021-12-15,15,12,2021,45.610001,46.840000,305300.0,47.889999,47.549999,47.549999,ZUMZ
147897,2022-02-15,15,2,2022,43.939999,43.939999,224200.0,45.709999,45.480000,45.480000,ZUMZ
147898,2022-03-15,15,3,2022,40.099998,40.250000,500200.0,41.430000,41.090000,41.090000,ZUMZ

In [3]:
test_data_sample = nasdaq_df.sample(n = 10)
test_data_sample

,Date,Day,Month,Year,Low,Open,Volume,High,Close,Adjusted Close,Ticker Symbol
116022,2020-10-15,15,10,2020,94.879997,95.370003,1434200.0,96.940002,96.190002,95.737495,ROST
6800,2017-03-15,15,3,2017,13.620000,14.030000,55179600.0,14.060000,13.980000,13.980000,AMD
114587,2010-03-15,15,3,2010,16.000000,18.000000,834.0,18.000000,16.000000,16.000000,RIBT
45609,2014-12-15,15,12,2014,220.240005,227.250000,1163100.0,229.910004,221.860001,187.094162,EQIX
57013,2017-11-15,15,11,2017,3.160000,3.200000,15975.0,3.240000,3.160000,3.160000,GENE
117252,2017-09-15,15,9,2017,155.509995,156.059998,669900.0,160.500000,160.080002,152.890381,SAFM
60943,2015-07-15,15,7,2015,33.070000,34.240002,453700.0,34.700001,33.209999,33.209999,GTLS
139093,2019-03-15,15,3,2019,73.769997,74.570000,10200.0,75.070000,73.769997,68.952873,USLM
114394,2011-06-15,15,6,2011,13.910000,14.220000,522000.0,14.220000,13.980000,13.226439,RGS
67166,2012-02-15,15,2,2012,6.573444,6.573444,234.0,6.633281,6.633281,5.607291,HWBK

In [4]:
test_data_sample.to_csv("../Tests/Data for Testing/test_data_sample.csv", index=False)