In [2]:
import pandas as pd

In [3]:
nasdaq_df = pd.read_csv("../Data/Polished/NO_NULL_nasdaq_2010_mid_separate_year_month_day.csv")
nasdaq_df

,Date,Day,Month,Year,Low,Open,Volume,High,Close,Adjusted Close,Ticker Symbol
0,2010-01-15,15,1,2010,5.430000,5.640000,10985300.0,5.840000,5.500000,5.185079,AAL
1,2010-03-15,15,3,2010,7.720000,7.880000,4790900.0,7.930000,7.900000,7.447659,AAL
2,2010-04-15,15,4,2010,7.250000,7.470000,15963500.0,7.490000,7.410000,6.985714,AAL
3,2010-06-15,15,6,2010,9.830000,9.830000,15766900.0,10.510000,10.460000,9.861075,AAL
4,2010-07-15,15,7,2010,8.850000,9.270000,6418800.0,9.290000,9.110000,8.588376,AAL
...,...,...,...,...,...,...,...,...,...,...,...
147894,2021-10-15,15,10,2021,39.450001,40.770000,338800.0,42.110001,39.549999,39.549999,ZUMZ
147895,2021-11-15,15,11,2021,50.639999,51.730000,183700.0,52.040001,51.070000,51.070000,ZUMZ
147896,2021-12-15,15,12,2021,45.610001,46.840000,305300.0,47.889999,47.549999,47.549999,ZUMZ
147897,2022-02-15,15,2,2022,43.939999,43.939999,224200.0,45.709999,45.480000,45.480000,ZUMZ
147898,2022-03-15,15,3,2022,40.099998,40.250000,500200.0,41.430000,41.090000,41.090000,ZUMZ

In [4]:
test_data_sample = test_data_sample = nasdaq_df.sample(n = 10)
test_data_sample

,Date,Day,Month,Year,Low,Open,Volume,High,Close,Adjusted Close,Ticker Symbol
74079,2020-04-15,15,4,2020,97.599998,100.279999,1603500.0,102.290001,100.820000,99.751953,JBHT
140081,2013-01-15,15,1,2013,26.400000,26.799999,11735.0,27.600000,27.400000,27.400000,VCEL
142540,2018-02-15,15,2,2018,0.910000,0.910000,47600.0,0.995000,0.920000,0.920000,VTNR
142863,2020-04-15,15,4,2020,24.299999,25.070000,560600.0,25.690001,24.410000,23.355089,WAFD
44463,2018-02-15,15,2,2018,25.200001,25.200001,58100.0,26.129999,25.700001,23.857315,EML
122283,2015-05-15,15,5,2015,19.030001,20.530001,49000.0,20.750000,19.840000,19.840000,SIEN
21036,2016-03-15,15,3,2016,1.050000,1.064000,5608.0,1.116000,1.100000,1.100000,CALI
105437,2013-07-15,15,7,2013,7.198347,7.355372,16456.0,7.355372,7.198347,5.933617,PKBK
84542,2013-04-15,15,4,2013,12.256932,12.256932,0.0,12.256932,12.256932,8.482001,MCFUF
96906,2015-07-15,15,7,2015,14.350000,14.410000,1885700.0,14.540000,14.430000,13.201594,NWSA

In [7]:
test_data_sample = nasdaq_df.sample(n = 50)
test_data_sample
test_data_sample.to_csv("../../individual-deliverables-MilesHL/Basic_Front-end_Miles/mock_data.csv", index=False)

In [6]:
test_data_sample.to_csv("../Tests/Data for Testing/test_data_sample.csv", index=False)

OSError: Cannot save file into a non-existent directory: '../Tests/Data for Testing'